<%- include("../partials/header") %>

<div class="container">
	
	<header class="jumbotron">
		<div class="container">
		<h1>WELCOME TO YELPCAMP</h1>
	    <p>
		view campgrounds from all over the world
		</p>
		<a class="btn btn-primary" href="/campgrounds/new">ADD NEW</a>
		</div>
			</header>
	
   <div class="row text-center">
	    <% cm.forEach(function(c){ %>
	    <div class="col-md-3 col-sm-6">
			<div class="thumbnail">
				<img src="<%= c.image %>">
				<div class="caption-full">
				<h4><%= c.name %></h4>	
				</div>
				<p>
					<a href="/campgrounds/<%= c.id %>" class="btn btn-primary"> More Info</a>
				</p>
			</div>
		</div>
	    <% }); %>
	</div>	
</div>
	
	


<%- include("../partials/footer") %>